<% layout("./layouts/boilerplate.ejs") %>

<body>

    <div class="row offset-md-3  offset-1">
    <div class="d-flex gap-2 mb-3 col-md-8  col-11">
        <form method="get" action="/listings/<%= item._id %>/edit"> <button class="btn btn-success">Edit</button> </form><br>
        <form method="post" action="/listings/<%= item._id %>?_method=delete"> <button class="btn btn-danger">Delete</button> </form>    
    </div>
    </div>
  
    <div class="row offset-md-3 offset-md-3 offset-1">
    <div class="col-md-8 col-11 card mb-3  ">
        <img style="aspect-ratio: 11/7; object-fit: cover;"  class="card-img-top" src=<%= item.image %> alt="">
        
        <div class="card-body">
            <h3 class="card-title"><%= item.title %></h3>
            <a style="color: rgb(99, 99, 99);" href="https://www.google.com/maps/place/<%= item.location %>"><h6 class="card-subtitle mb-3"><i class="fa-solid fa-location-dot" style="color: #ff385c;"></i>  &nbsp;<%= item.location %>, <%= item.country %></h6></a>
            <p class="card-text"><%= item.description %></p>

            <button class="btn btn-outline-dark">₹ <%= item.price.toLocaleString() %></button>
        </div>
    </div>
    </div>
    
</body>
